.main {
    width: 100vw;
    height: 100vh;
  }
  .header {
    height: 90px;
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: center;
    font-size: 50px;
    position: fixed;
   /* margin-bottom: 20px; */
  }
  .body {
   min-height:  100vh;
    width: 100vw;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:90px;
  
  }
  .boxes {
    height: 60px;
    width: 280px;
    background-color: darkmagenta;
    /* margin-top: 130px; */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 8px; */
   
   
   
  }
  .addButton {
    height: 150px;
    width: 150px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    position: absolute;
    right: 0;
    bottom: 20px;
    border-radius: 50%;
    border: 5px solid ;
  }
  .delete{
      width: 20px;
      height: 40px;
      background-color:darkmagenta;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  @keyframes move{
      100%{
          transform: translate(100vw);
      } 
       
   } 
  .showedClass{
animation: move .2s;
  }
 
  p{
    transform: rotate3d(5,5,5,-10deg);
  }
  
  